#newHillForm {
    display: none;

    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @include centerY();

    background: white;
    padding: 50px;

    span {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}

