#newHillForm, #newHillUrl {
    display: none;

    position: absolute;
    width: 300px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #CFD8DC;
    font-family: Roboto;
    font-weight: 300;
    box-shadow: 0px 0px 20px #666666;

    div.heading {
        background: #607D8B;
        height: 50px;
    }
}

#newHillUrl {
    display: none;

    $button-width: 45px;
    $input-height: 40px;

    input[type='url'] {
        margin: 0;
        width: 100%;
        height: $input-height;
        background: transparent;
        border: none;
        padding-left: 10px;
        padding-right: 2 * $button-width + 10px;
        font-size: 1.2em;
        box-sizing: border-box;
        outline: none !important;
        color: #777777;
    }

    input[type='submit'], button {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        height: $input-height;
        width: $button-width;
        font-size: 1.2em;
        color: #333333;
    }

    input[type='submit'] {
        right: $button-width;
        background: #81C784;
        padding-top: 7px;
    }

    button {
        background: #E57373;
        font-size: 1.3em;
        padding-top: 0;
    }

    div {
        line-height: 0px;
        text-align: center;
        font-style: italic;
        font-size: 0.9em;
        overflow: hidden;
        transition: line-height 40ms linear;
    }

    &.error {
        input[type='url'] {
            background: #EF9A9A;
        }

        div {
            padding-top: 2px;
            line-height: $input-height - 5px;
        }
    }
}

#newHillForm {
    h1 {
        font-family: Oxygen;
        font-size: 1.5em;
        margin: 0;
        line-height: 50px;
        color: white;
        padding-left: 20px;
    }

    span {
        position: absolute;
        top: 7px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    form {
        input, div {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            font-size: 1.2em;
        }

        input:not([type='submit']), div {
            padding-left: 10px;
            padding-right: 10px;
            background: rgba(255, 255, 255, 0.3);
            color: #444444;
            box-sizing: border-box;
            margin-top: 5px;
        }

        input[type='submit'] {
            background: #9CCC65;
            font-family: Oxygen;
            margin-top: 10px;
        }

        div, input[type='number'] {
            display: inline-block;
            width: 50%;
        }

        div {
            line-height: 38px;
            padding-top: 2px;
            float: left;
            width: 35%;
        }

        input[type='number'] {
            width: 65%;
        }
    }

    #previewMap {
        width: 100%;
        height: 150px;
    }
}

