@mixin noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay {
    position: absolute;
    width: 300px;
    top: 30px;
    left: 30px;
    background: #009688;
    padding: 0 5px;
    box-sizing: border-box;

    h1, h1 + span {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        color: white;
        font-family: Oxygen;
        @include noSelect();
    }

    h1 {
        width: 70%;
        font-size: 1.5em;
        margin: 10px 0;
        padding-left: 20px;
    }

    h1 + span {
        width: calc(30% - 6px);
        font-size: 30px;
        text-align: right;
        padding-right: 15px;
    }

    ul {
        background: white;
        list-style: none;
        margin-top: 0px;
        padding-left: 0;
        overflow-y: auto;
        max-height: 600px;
        transition: 500ms linear;
        transition-property: max-height, margin-bottom;

        &.hidden {
            max-height: 0;
            margin-bottom: 0;
        }

        li {
            padding: 10px 30px;
            cursor: pointer;
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.1em;

            &:nth-child(2n) {
                background: #4DB6AC;
            }

            &:nth-child(2n+1) {
                background: #80CBC4;
            }

            &:first-child {
                padding-top: 12px;
            }
        }
    }
}

