#overlay {
    position: absolute;
    width: 300px;
    top: 30px;
    left: 30px;
    background: #006064;
    padding: 0 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #666666;

    h1, .titleControl {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        color: white;
        font-family: Oxygen;
        @include noSelect();
    }

    h1 {
        line-height: 50px;
        width: 70%;
        font-size: 1.5em;
        margin: 0;
        padding-left: 20px;
    }

    .titleControl {
        line-height: 47px;
        float: right;
        font-size: 30px;
        text-align: right;
        padding-right: 15px;
        padding-left: 3px;
    }

    .titleControl#openSearch {
        font-size: 18px;
        padding-top: 3px;

        &.open {
            padding-right: 17px;
        }

        &:not(.open) {
            font-size: 24px;
            padding-top: 5px;
            transform: rotateZ(45deg);
        }
    }

    #searchDiv {
        position: relative;

        input {
            @include textinput();
            padding: 0 20px 0 20px;
            background: transparent;
            color: #e8e8e8;
            outline: none !important;
            transition: height 40ms linear;

            &.hidden {
                height: 0px;
                padding: 0;
            }

            + div {
                position: absolute;
                right: 15px;
                top: 12px;
                font-family: Oxygen;
                width: 17px;
                height: 17px;
                line-height: 17px;
                background: grey;
                color: white;
                padding: 0;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    ul {
        list-style: none;
        margin-top: 0px;
        padding-left: 0;
        overflow-y: auto;
        max-height: 600px;
        transition: max-height 300ms linear, margin-bottom 100ms linear;

        &.hidden {
            max-height: 0;
            margin-bottom: 0;
        }

        li {
            position: relative;
            padding: 10px 30px;
            cursor: pointer;
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.1em;
            color: #333333;

            &:nth-child(2n) {
                background: #BDBDBD;
            }

            &:nth-child(2n+1) {
                background: #9E9E9E;
            }

            &:first-child {
                padding-top: 12px;
            }

            div {
                position: absolute;
                right: 20px;
                width: 12px;
                height: 5px;
                opacity: 0.8;
                @include centerY();
            }
        }
    }
}

